form {
  margin-top: 150px;
}

input,
textarea,
button,
h2,
p {
  display: block;
  margin: 20px auto;
  height: 30px;
  width: 50%;
  font-family: "Lato", sans-serif;
}

textarea,
input {
  border: 1px solid rgb(185, 185, 185);
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(251, 251, 251);
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  border-radius: 8px;
  background-color: rgba(163, 209, 252, 0.467);
  border: none;
  padding: 10px;
  height: 35px;
}

button:hover {
  cursor: pointer;
}

form p {
  color: rgb(88, 88, 88);
  font-size: 15px;
}