body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.nav-bar {
  width: 99%;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  top: 5px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.nav-bar > ul > li > a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  margin: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-content: center;
}

form {
  margin-top: 150px;
}

input,
textarea,
button,
h2,
p {
  display: block;
  margin: 20px auto;
  height: 30px;
  width: 50%;
  font-family: "Lato", sans-serif;
}

textarea,
input {
  border: 1px solid rgb(185, 185, 185);
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(251, 251, 251);
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  border-radius: 8px;
  background-color: rgba(163, 209, 252, 0.467);
  border: none;
  padding: 10px;
  height: 35px;
}

button:hover {
  cursor: pointer;
}

form p {
  color: rgb(88, 88, 88);
  font-size: 15px;
}

form p a {
  text-decoration: none;
  color: rgb(87, 149, 255);
}
