.container-intro {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  height: 130px;
  width: 300px;
}

.hello-intro img {
  display: block;
  margin: 0 auto;
}

.learn-more {
  width: 80px;
  background-color: #fbfbfb;
  border: 1px solid #dfdfdf;
  padding: 2px 7px;
  border-radius: 20px;
  margin: 10px auto;
  font-size: 12px;
}

.learn-more a:hover {
  cursor: pointer;
}

span {
  display: flex;
  justify-content: space-around;
}

#particles-js {
  height: 45%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.particles-js-canvas-el {
  position: absolute;
}

.learn-more a {
  color: #000;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

.sub {
  font-size: 44px;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: 500;
  text-align: center;
}

.paras {
  padding-top: 10px;
  padding-bottom: 50px;
}

.paras p {
  padding-top: 25px;
}

footer {
  background-color: whitesmoke;
  height: 100px;
  position: relative;
}

.le {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p,
.paras h3 {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.paras h3 {
  padding-top: 20px;
}

.photo-collage {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 8px;
  margin: 0 auto;
  width: 860px;
}

.card {
  position: relative;
  display: inline-block; /* Adjust based on your layout */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* White color overlay */
  transition: background 0.3s ease; /* Smooth transition */
  border-radius: 2px; /* Match your image's border-radius if it has any */
}

.card:hover::before {
  background: none;
}

.cover-image {
  display: block; /* Ensures the image fills the container */
  width: 100%; /* Adjust as necessary */
  height: auto;
  border-radius: 2px; /* Adds rounded corners to your images, adjust as necessary */
}

.card.revealed::before {
  background: none;
}

p {
  color: rgb(88, 88, 88);
  font-size: 15px;
}

@media screen and (max-width: 1250px) {
  .photo-collage {
    width: 60%;
    /* padding-left: 20px; */
  }
}

@media screen and (max-width: 700px) {
  .photo-collage {
    width: 80%;
  }
  .sub {
    font-size: 30px;
  }
  p, .paras h3 {
    width: 93%;
  }
}

@media screen and (max-width: 450px) {
  .photo-collage {
    display: none;
  }
}