body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.nav-bar {
  width: 95%; /* Keep your desired width */
  height: 40px; /* Keep your desired height */
  position: absolute; /* Keep it absolute to position it over other elements */
  top: 5%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset by half of the element's width and height */
  display: flex; /* Keep using flex */
  justify-content: center; /* Align children (ul) in the center horizontally */
  align-items: center; /* Align children (ul) in the center vertically */
  background-color: #EEEEEE; /* Keep your background color */
  border-radius: 16px; /* Keep your border radius */
}

.nav-bar > ul {
  width: 100%;
  list-style: none;
  display: flex;
  padding: 0px;
  align-items: center;
}

.nav-bar > ul > li:first-child {
  flex-grow: 1;
  margin-top: 2px;
  margin-left: 5px;
}

.nav-bar img {
  width: 40px;
  border-radius: 12px;
}

.nav-bar > ul > li.links > a {
  text-decoration: none;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  margin: 10px 15px;
}

.nav-bar > ul > li:last-child {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: rgb(87, 149, 255);
}
