.nav-bar {
  width: 99%;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  top: 5px;
  height: 50px;
  display: flex;
  justify-content: flex-start; /* Align content to the start */
}

.nav-bar > ul {
  width: 100%; /* Ensure the ul covers the full width */
  list-style: none;
  display: flex;
  padding: 10px; /* Remove padding */
  align-items: center; /* Align items vertically */
}

.nav-bar > ul > li:first-child {
  flex-grow: 1; /* Allow the first li to grow and push others to the right */
}

.nav-bar > ul > li.links > a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  margin: 10px; /* Adjust margin as needed */
}

.nav-bar > ul > li:last-child {
  display: flex;
  justify-content: flex-end; /* Align the links to the right */
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(87, 149, 255);
}
