.team {
  width: 60%;
  margin: 0 auto;
}

.team-container {
  text-align: center;
  margin: 20px;
  padding-top: 80px;
}

.team-members {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.member {
  margin: 15px;
}

.member img {
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.member h2,
.member p {
  margin: 5px 0;
  text-align: left;
}

.member h2 {
  color: rgb(63, 63, 63);
  font-size: 16px;
}

.member p {
  color: rgb(109, 109, 109);
  font-size: 14px;
}

p.team {
  color: rgb(88, 88, 88);
  font-size: 15px;
}

.card { /* Same size as the img */
  position: relative;
  width: 280px;
  height: 280px;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;

}

.card-back {
  transform: rotateY(180deg);
  overflow-y: auto;
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}
